<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" href="/assets/favico/favicon.ico" type="image/x-icon">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Rocketflix</title>
</head>

<body>
  <main>
    <header>
      <div class="logo">
        <img src="./assets/favico/android-chrome-192x192.png" alt="logo">
      </div>

      <h1 class="title">Não sabe o que assistir?</h1>
    </header>
    
    <div class="content-movies">
      <div class="img-content-movie">
        <img id="image-movie">
      </div>

      <div class="content-description-movie">
        <h3 id="title-movie"></h3>
        <p id="description-movie">
        </p>
      </div>
    </div>


    <div class="container-btn">
      <button><img src="./assets/favico/favicon-32x32.png"> Encontrar filme</button>
    </div>

    <p class="subtitle">Clique em "Encontrar filme" que traremos informações de algum filme para você assistir hoje.</p>
  </main>

  <script type="module" src="main.js"></script>
</body>

</html>